.top {
  width: 100%;
  height: 50px;

  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.topCenter {
  flex: 6;
  display: flex;
  justify-content: center;
}
.topLeft,
.topRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.topicons {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
  color: #666;
}
.topList{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
list-style: none;
color: #666;
}
.topListItem{
  margin-right: 20px;
  font-weight: 300;
  font-size: 18px;
  cursor: pointer;

}
.topSearchIcon{
  font-size: 18px;
  cursor: pointer;
  color: #666;
  margin-left: 15px;
}

